.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profile-page .form-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.profile-page form {
    border: 1px solid #ddd;
    padding: 3%;
    border-radius: 8px; 
    width: 600px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.profile-page h1 {
    color: #343a40;
    text-align: center;
    margin-bottom: 1%;
}

.profile-page .form-label {
    font-weight: bold;
}

.profile-page .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    --bs-btn-bg: rgba(49, 121, 165, 0.641);
    --bs-btn-border-color: rgba(49, 121, 165, 0.641);
    --bs-btn-hover-bg: rgb(49, 121, 165);
    --bs-btn-hover-border-color: rgb(49, 121, 165);
    --bs-btn-active-bg: rgb(49, 121, 165);
    --bs-btn-active-border-color: rgb(49, 121, 165);
    --bs-btn-disabled-bg: rgba(49, 121, 165, 0.641);
    --bs-btn-disabled-border-color: rgba(49, 121, 165, 0.641);
    --bs-btn-color: white;
}

.profile-page .btn-primary {
    width: 100%;
    --bs-btn-bg: rgba(49, 121, 165, 0.641);
    --bs-btn-border-color: rgba(49, 121, 165, 0.641);
    --bs-btn-hover-bg: rgb(49, 121, 165);
    --bs-btn-hover-border-color: rgb(49, 121, 165);
    --bs-btn-active-bg: rgb(49, 121, 165);
    --bs-btn-active-border-color: rgb(49, 121, 165);
    --bs-btn-disabled-bg: rgba(49, 121, 165, 0.641);
    --bs-btn-disabled-border-color: rgba(49, 121, 165, 0.641);
    --bs-btn-color: white;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
}

.btn-update {
    background-color: #6f9f7a; 
    color: white;
    margin-bottom: 10px;
}

.btn-update:hover {
    background-color: #6f9f7a; 
    color: white;
}

.btn-signout {
    background-color: rgb(49, 121, 165); 
    color: white;
    margin-bottom: 10px;

}

.btn-signout:hover {
    background-color: rgb(49, 121, 165); 
    color: white;
}

.btn-delete {
    background-color: #cf858e; 
    color: white;
}

.btn-delete:hover {
    background-color: #cf858e;
    color: white;
}

.btn {
    width: 100%; 
}
