.public-profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.public-profile-page h1 {
    color: #343a40;
    text-align: center;
    margin-bottom: 10%;
}

.public-profile-content {
    border: 1px solid #ddd;
    padding: 3%;
    border-radius: 8px;
    width: 35%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.public-profile-info {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 2%;
}

.public-profile-info-title {
    font-weight: bold;
    color: rgb(49, 121, 165);
    margin-right: 2%;
}

.email-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.email-button {
    padding: 2% 4%;
    background-color: rgb(49, 121, 165);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.email-button:hover {
    background-color: rgba(49, 121, 165, 0.9);
}

.liked-exercises {
    margin-top: 5%;
}

.liked-exercises ul {
    list-style-type: none;
    padding: 0;
}

.liked-exercises li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.liked-exercises li:last-child {
    border-bottom: none;
}
