.wd-navbar {
    --bs-navbar-nav-link-padding-x: 1.5rem;
    font-size: 1.05rem;
    position: sticky;
    top: 0;
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-nav {
    flex-direction: row;
}

.wd-navbar .navbar-nav .nav-link {
    font-size: 1.05rem;
    font-weight: 500;
}

.wd-navbar .navbar-nav .nav-link:hover {
    font-size: 1.05rem;
    text-decoration: underline;
}

.wd-navbar .navbar-nav .nav-link.active {
    font-size: 1.05rem;
    color: white;
    background-color: rgba(49, 121, 165, 0.641);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.wd-navbar .wd-nav-padding {
    padding-left: 2%;
    padding-right: 2%;
}

.wd-navbar .wd-search-bar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.wd-home-end {
    flex-direction: row;
    margin-left: 0;
}

.wd-home-end .input-group {
    flex-wrap: nowrap;
}

.wd-home-end .btn {
    width: min-content;
}

.wd-home-end .btn-primary {
    --bs-btn-bg: rgba(49, 121, 165, 0.641);
    --bs-btn-border-color: rgba(49, 121, 165, 0.641);
    --bs-btn-hover-bg: rgb(49, 121, 165);
    --bs-btn-hover-border-color: rgb(49, 121, 165);
    --bs-btn-active-bg: rgb(49, 121, 165);
    --bs-btn-active-border-color: rgb(49, 121, 165);
    --bs-btn-disabled-bg: rgba(49, 121, 165, 0.641);
    --bs-btn-disabled-border-color: rgba(49, 121, 165, 0.641);
    --bs-btn-color: white;

}

.wd-navbar .btn-primary {
    --bs-btn-bg: rgba(49, 121, 165, 0.641);
    --bs-btn-border-color: rgba(49, 121, 165, 0.641);
    --bs-btn-hover-bg: rgb(49, 121, 165);
    --bs-btn-hover-border-color: rgb(49, 121, 165);
    --bs-btn-active-bg: rgb(49, 121, 165);
    --bs-btn-active-border-color: rgb(49, 121, 165);
    --bs-btn-disabled-bg: rgba(49, 121, 165, 0.641);
    --bs-btn-disabled-border-color: rgba(49, 121, 165, 0.641);
    --bs-btn-color: white;
}

.wd-title {
    font-size: 1.8rem;
    font-family: 'Courier New', monospace;
}

@media only screen and (max-width: 1200px) {
    .wd-title {
      display: none;
    }

    .name-home {
        display: none;
    }

    .name-exercise {
        display: none;
    }

    .name-profile {
        display: none;
    }

    .name-login {
        display: none;
    }

    .navbar-nav {
        width: 100%;
        justify-content: center; 
    }
    
    .navbar-nav .nav-item {
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar-toggler {
        margin-right: 0.5rem; 
    }

    .navbar-collapse {
        justify-content: center;
    }

    .wd-navbar .navbar-nav .nav-link.active {
        font-size: 1.05rem;
        color: white;
        background-color: rgba(49, 121, 165, 0.641);
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        padding-left: 0.8em;
        padding-right: 0.8em;
        width: max-content;
    }
}

@media only screen and (max-width: 600px) {
    .input-group {
        width: 40vw;
    }
}


@media only screen and (min-width: 1200px) {
    .icon-home {
      display: none;
    }

    .icon-exercise {
        display: none;
    }

    .icon-profile {
        display: none;
    }

    .icon-login {
        display: none;
    }
}
